$panel-size: 750px;
$slider-size: 340px;

.demo-panel {
  width: 100%;
  padding-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000;

  @media (max-width: 650px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__slider {
    width: 100%;
    min-height: 250px;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
  }

  &__config-panel {
    margin-left: 35px;

    @media (max-width: 540px) {
      margin-left: 0;
    }
  }
}
