$dark-green: #16a085;
$color-slider-bg: #d4d4e1;
$color-point: #b44650;

// config
$slider-height: 12px;
$slider-border: 1px;
$point-diameter: 25px;
$point-offset: (($point-diameter / 2) - ($slider-height / 2));
$tooltip-margin: 3px;
$tooltip-height: 24px;
$slider-bg: $color-slider-bg;
$point-color: $color-point;
$tooltip-bg: $point-color;
$triangle: $point-diameter / 3;
$scale-margin: 5px;
$tooltip-font-size: 12px;
$tooltip-line-height: 18px;
$tooltip-height: $tooltip-line-height + 6px;
$tooltip-container-offset: (
  $tooltip-margin + $point-offset + $slider-height + $tooltip-height + $triangle
);

.slider {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: $slider-height;
  min-width: $point-diameter * 4;

  &_theme_vertical {
    width: $slider-height;
    height: 100%;
    min-width: 0;
  
    .slider__bg-line {
      width: 100%;
      bottom: 0px;
      height: auto;
    }
  
    .slider__point {
      top: auto;
      bottom: -($point-diameter / 2);
      left: -$point-offset;
    }
  
    .slider__tooltip-container {
      height: 100%;
      width: $tooltip-height;
      top: -100%;
      left: -$tooltip-container-offset + 10px;
    }
  
    .slider__tooltip {
      left: auto;
      right: 0;
      padding: 3px 8px;
  
      &::after {
        left: auto;
        right: -$triangle * 2 + 1;
        margin: 0;
        top: ($tooltip-height - ($triangle * 2)) / 2;
        border-top: $triangle solid transparent;
        border-left: $triangle solid $tooltip-bg;
      }
    }
  }

  &_bg-line-hide {
    .slider__bg-line {
      display: none;
    }
  }

  &_tooltips-hide {
    .slider__tooltip {
      display: none;
    }
  }

  &__point-container {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: $slider-height - 2px;
    background-color: $slider-bg;
  }

  &__point {
    display: block;
    width: $point-diameter;
    height: $point-diameter;
    border-radius: 50%;
    background-color: $point-color;
    position: absolute;
    top: -$point-offset;
    left: -($point-diameter / 2);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 2;
  }

  &__bg-line {
    background-color: $dark-green;
    height: 100%;
    width: auto;
    border-radius: $slider-height - 2px;
    position: absolute;
    left: 0px;
    z-index: 1;
  }

  &__tooltip-container {
    position: relative;
    width: 100%;
    height: $tooltip-height;
    top: -($tooltip-margin + $point-offset + $slider-height + $tooltip-height + $triangle);
  }

  &__tooltip {
    display: block;
    width: auto;
    height: $tooltip-height;
    background-color: $tooltip-bg;
    color: #fcfcfc;
    position: absolute;
    text-align: center;
    padding: 2px 8px;
    font-size: $tooltip-font-size;
    line-height: $tooltip-line-height;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    border-radius: 6px;
    white-space: nowrap;
  
    left: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  
    &::after {
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      position: absolute;
      bottom: -$triangle * 2 + 1;
      left: 0;
      right: 0;
      margin: 0 auto;
      border: $triangle solid transparent;
      border-top: $triangle solid $tooltip-bg;
    }
  }
}
