include ../config-panel/config-panel.pug

mixin demo-panel(options = {})
    -
        const {
            id = "",
            sliderId = "",
        } = options;

    .demo-panel.js-demo-panel(id=id)
        .demo-panel__slider
            .slider(id=sliderId)
        .demo-panel__config-panel
            +config-panel(id)
