.slider_vertical {
    width: $slider-height;
    height: 100%;
    min-width: 0;

    .slider__bg-line {
        width: 100%;
        bottom: 0px;
    }

    .slider__point {
        top: auto;
        bottom: -($point-diameter / 2);
    }
}