@import './slider-colors.scss';
@import './slider-config.scss';
@import './slider__container.scss';
@import './slider__point.scss';
@import './slider__bg-line.scss';
@import './slider__display.scss';
@import './slider__display_hide.scss';
@import './slider__display-container.scss';

.slider {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $slider-height;
    min-width: $point-diameter * 4;
}

@import './slider_vertical.scss';
@import './slider_range.scss';