mixin slider(args={})
    -const classes = (args.classes || []);
    -const classesStr = classes.join(' ');

    .slider(class=classesStr, id=args.id)
        .slider__container
        .slider__display-container