$slider-height: 12px;
$slider-border: 1px;
$point-diameter: 25px;
$point-offset: (($point-diameter / 2) - ($slider-height / 2));
$tooltip-margin: 3px;
$tooltip-height: 24px;
$slider-bg: #d4d4e1;
$point-color: #b44650;
$tooltip-bg: $point-color;
$triangle: $point-diameter / 3;
$scale-margin: 5px;
// tooltip
$tooltip-font-size: 12px;
$tooltip-line-height: 18px;
$tooltip-height: $tooltip-line-height + 6px;
$tooltip-container-offset: (
  $tooltip-margin + $point-offset + $slider-height + $tooltip-height + $triangle
);
