$slider-height: 12px;
$slider-border: 1px;
$point-diameter: 25px;
$point-offset: (($point-diameter / 2) - ($slider-height / 2));
$tooltip-margin: 3px;
$tooltip-height: 24px;
$slider-bg: #d4d4e1;
$point-color: #B44650;
$tooltip-bg: $point-color;
$triangle: $point-diameter / 2 * (2 / 3);