.slider_theme_vertical {
  width: $slider-height;
  height: 100%;
  min-width: 0;

  .slider__bg-line {
    width: 100%;
    bottom: 0px;
    height: auto;
  }

  .slider__point {
    top: auto;
    bottom: -($point-diameter / 2);
    left: -$point-offset;
  }

  .slider__tooltip-container {
    height: 100%;
    width: $tooltip-height;
    top: -100%;
    left: -$tooltip-container-offset + 10px;
  }

  .slider__tooltip {
    left: auto;
    right: 0;
    padding: 3px 8px;

    &::after {
      left: auto;
      right: -$triangle * 2 + 1;
      margin: 0;
      top: ($tooltip-height - ($triangle * 2)) / 2;
      border-top: $triangle solid transparent;
      border-left: $triangle solid $tooltip-bg;
    }
  }
}
