.slider__point {
    display: block;
    width: $point-diameter;
    height: $point-diameter;
    border-radius: 50%;
    background-color: $steelblue;
    position: absolute;
    top: -$point-offset;
    left: -($point-diameter / 2);
}