.config-panel {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #57e4e4;
  border-radius: 6px;

  &__step {
    margin-bottom: 20px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__step-input {
    margin-left: 20px;
    padding: 4px 8px;
  }

  &__view {
    margin-bottom: 20px;
  }

  &__view-title {
    margin-bottom: 10px;
  }

  &__view-item {
    margin-bottom: 5px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }

  &__view-input {
    margin-right: 10px;
  }

  &__tooltips {
    margin-bottom: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__tooltip-input {
    margin-right: 8px;
  }

  &__bg-line {
    margin-bottom: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__bg-line-input {
    margin-right: 8px;
  }

  &__points {
    margin-bottom: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
  }

  &__points-input {
    margin-left: 8px;
  }

  &__value-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
  
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__value-input {
    margin-left: 10px;
    min-width: 50px;
  }
}
