@import './config-panel__step.scss';
@import './config-panel__step-input.scss';
@import './config-panel__view.scss';
@import './config-panel__view-title.scss';
@import './config-panel__view-item.scss';
@import './config-panel__view-input.scss';
@import './config-panel__points.scss';
@import './config-panel__value-item.scss';
@import './config-panel__value-input.scss';
@import './config-panel__tooltips.scss';
@import './config-panel__tooltip-input.scss';

.config-panel {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #57e4e4;
  border-radius: 6px;
}
