@import '../config-panel/config-panel.scss';
@import './demo-panel__slider.scss';
@import './demo-panel__config-panel.scss';

$max-size: 750px;

.demo-panel {
  width: 100%;
  max-width: $max-size;
  max-width: $max-size;
  padding-bottom: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #000;
}


