include ../slider/slider.pug

mixin demo-panel(options={})
    -
        const {
            id = '',
            slider = {},
        } = options;

    .demo-panel.js-demo-panel(id=id)
        .demo-panel__slider
            +slider(slider)
        .demo-panel__config-panel.js-demo-panel__config-panel
            