@import './demo-panel/demo-panel.scss';
@import './demo-page__demo-panel.scss';

.demo-page {
    width: 100%;
    margin: 0;
    padding: 50px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}