<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Slider
    body.demo-page
        include ./demo-panel/demo-panel.pug
        +demo-panel({
            classes: [
                'demo-page__demo-panel'
            ],
            id: 'panel1',
            slider: {
                id: 'slider1'
            },
            mode: 'single'
        })
        +demo-panel({
            classes: [
                'demo-page__demo-panel'
            ],
            id: 'panel2',
            slider: {
                id: 'slider2'
            },
            mode: 'range'
        })
        +demo-panel({
            classes: [
                'demo-page__demo-panel'
            ],
            id: 'panel3',
            slider: {
                id: 'slider3'
            },
            mode: 'single'
        })
        +demo-panel({
            classes: [
                'demo-page__demo-panel'
            ],
            id: 'panel4',
            slider: {
                id: 'slider4'
            },
            mode: 'range'
        })
