<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Slider
    body.demo-page
        include ./demo-panel/demo-panel.pug
        +demo-panel({
            classes: [
                'demo-page__demo-panel'
            ],
            slider: {
                modifiers: {
                    vertical: false,
                    range: false
                }
            }
        })
